@import '../../../Assets/styling/mixins.scss';
@import '../../../Assets/styling/palette.scss';

#cycler-controls {
    @include alpha-background-color(rgba($color1, $light), $color2);

    position: absolute;
    left: calc(50vw - 150px / 2);
    top: -25px;
    padding-top: 60px;
    padding-bottom: 15px;
    height: 35px;
    width: 190px;
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#menu-control {
    svg {
        margin-left: -3px;
        margin-top: -3px;
    }
}

#cycler-controls button {
    @include alpha-background-color(rgba($color1, $heavy), $color2);
    @include button-shadow-effect;

    flex: 1 1;
    color: $color2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    padding: 0;

    svg {
        overflow: visible;
        max-height: 40px;
        max-width: 40px;
    }
}